* {
  background-color: black;
}

.addButton {
  color: white;
  height: auto;
  margin: .8rem;
  width: 2rem;
}

.container {
  display: flex;
  margin: .25rem .2rem;
  justify-content: space-between;
  align-items: center;
}

.heartButton {
  color: white;
  height: auto;
  margin: .8rem;
  width: 2rem;
}

.img-fluid {
  height: auto;
  width: 40%;
}

.sendButton {
  color: white;
  margin: .8rem;
  height: auto;
  width: 2rem;
}

.threeButtonGroup {
  width: auto;
  display: flex;
}