@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.addButton {
  color: white;
  height: auto;
  margin: .8rem;
  width: 2rem;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
}

@media (min-width: 450px) {
  .header {
    background-color: transparent;
  }
}

.header-container {
  display: flex;
  margin: 0rem .2rem;
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
}

.heartButton {
  color: white;
  height: auto;
  margin: .8rem;
  width: 2rem;
}

.ig-logo {
  max-height: 30px;
  width: auto;
  margin-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mainContainer {
  max-width: 450px;
  margin: auto;
  align-self: center;
}

.postHeader {
  display: flex;
  height: 45px;
  margin: .75rem .8rem;
  justify-content: flex-start;
}

.postDescription {
  display: flex;
  margin: 1rem 1rem .5rem 1rem;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.postDescriptionDiv {
  display: flex;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.postTime {
  color: rgb(169, 169, 169);
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: .75rem;
}

.profile-img {
  height: auto;
  max-width: 50%;
  margin-right: 1rem;
}

.sendButton {
  color: white;
  margin: .8rem;
  height: auto;
  width: 2rem;
}

.userName {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  align-self: center;
  display: flex;
  display: inline-block;
}

.threeButtonGroup {
  width: auto;
  height: 60px;
  display: flex;
  margin-right: .3rem;
}

.textWhite {
  color: white;
}